{% extends 'admin/change_list.html' %}
{% block object-tools %}
    {{ block.super }}
    <span><strong>The longest solution time</strong>: {{ longest_solution }}</span><br>
    <span><strong>The average solution time</strong>: {{ average_solution }}</span><br>
    <span><strong>The shortest solution time</strong>: {{ shortest_solution }}</span><br>
    <br>
{% endblock %}